<div class="signinbox">
  <p>Sign up find the perfect gift for your lovely lady!</p>
  <p><%= link_to "Sign up now", new_user_path, :class => "btn btn-gold" %>
  <%= link_to "Login", "#", :class => "btn" %></p>
</div>
