<div class="giftlistbox" style="width:1000px;">
  <p style="padding-top:12px;">Thank you! :)</p>
</div>
<p class="text-center" >Thank you for your purchase.</p>

<div class="giftlistbox" style="width:1000px; float:left; min-height:1px;">
</div>
