<div class="giftlistbox" style="width:1000px;">
  <p>Thank you! :)</p>
</div>
<p class="text-center">Thank you for your purchase.</p>

<div class="giftlistbox" style="width:1000px; float:left; min-height:1px;">
</div>